*{
    font-family: "Courier New", monospace;
}
.title{
    background-color: #696969;
    border-radius: 15px;
    width: 300px;
    height: 90px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.title h1{
    color: #e6e6e6;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding: 0.8em;
}

.description{
    border: 3px solid #696969;
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 1500px;
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.description h2{
    color: #525252;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding:2%;
    padding: 0.1em;
    margin: 0.1em;
}
ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
ul li{
    font-size: 40px;
    color: #525252;
    display: inline-block;
    width: 1500px;
    height: 80px;
    text-align: center;
}
.sort {
    color: #525252;
    font-weight: bold;
    font-size: 40px;
    padding:1%;
}

.game {
    color: #525252;
    font-weight: bold;
    font-size: 40px;
    padding:1%;
}