* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "Comic Sans Ms", sans-serif;
  }

  .title {
    font-size: 64px;
    color: rgb(29, 29, 29);
    text-align: center;
  }

  .description{
    font-size: 32px;
    color: rgb(29, 29, 29);
    text-align: center;
  }
  
  .main {
    font-size: 20px;
    background-color: #ffffff;
    width: 100vw;
    max-width: 43em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    padding: 3em;
    border-radius: 15em;
    box-shadow: 0 1.2em 2.4em rgba(24, 23, 22, 0.25);
  }

  .answer{
    text-align: center;
  }

  .alphabet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
  }

  #alphabet button {
    height: 2.6em;
    width: 2.6em;
    border-radius: 1em;
    background-color: #dbdbdb;
  }

  #hidden_word {
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 0.6em 0 1.2em 0;
  }

  canvas {
    display: block;
    margin: auto;
    border: 3px solid #000000;
  }

  #button{
    display: flex;	
    justify-content: center;
  }

  #start_game {
    display: flex;	
    justify-content: center;
    font-size: 1.30em;
    padding: 0.4em 1em;
    background-color: #9b9b9b;
    border: 3px solid #000000;
    color: #000000;
    border-radius: 0.7em;
  }
  
  .win-msg {
    color: #0e921f;
  }
  .lose-msg {
    color: #e71a1a;
  }

  #result p {
    font-size: 1.30em;
    margin: 0.5em 0 0.5em 0;
  }

  #result h2 {
    font-size: 1.8em;
    text-align: center;
  }

  .back {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    color: #696969;
    font-size: 20px;
    font-weight: bold;
}
