* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans Ms", sans-serif, monospace;
  }

  body {
    background-color: #808080;
  }

  .title {
    font-size: 32px;
    color: aqua;
  }

  .butt:hover {
    background-color: #b10000;
  }
  
  .main {
    font-size: 16px;
    background-color: #ffffff;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
  }

  .answer{
    
    text-align: center;

  }
  .alphabet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
  }

  #alphabet button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color: #ffffff;
  }

  #hidden_word {
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
  }

  canvas {
    display: block;
    margin: auto;
    border: 1px solid #000000;
  }

  #button{
    display: flex;	
    justify-content: center;
  }
  #start_game {
    display: flex;	
    justify-content: center;
    font-size: 1.25em;
    padding: 0.5em 1em;
    background-color: #808080;
    border: 3px solid #000000;
    color: #000000;
    border-radius: 0.2em;
  }

  .win-msg {
    color: #39d78d;
  }
  .lose-msg {
    color: #fe5152;
  }

  #result p {
    font-size: 1.25em;
    margin: 1em 0 2em 0;
  }

  #result span {
    font-weight: 600;
  }
  
  #result h2 {
    font-size: 1.8em;
    text-align: center;
  }

  /* .msg {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
  } */